         <div class="hero">
                        <!-- Title. Don't forget the <span> tag -->
                        <h3><span>Conheça sobre o DCE 9 de Novembro</span></h3>
                        <!-- para -->
                        <p>Entidade máxima representativa dos Estudantes da Universidade Estadual do Piauí - Campus de Picos</p>
         </div>	
			<div class="presentation container">
				<div class="row">
					<div class="col-md-5">
						<%= image_tag 'apresentacao.png', class:'img img-responsive', :alt=>"DCE 9 de Novembro" %>
					</div>
					<div class="col-md-7">
						<p>O DCE 9 de Novembro é uma entidade não governamental (ONG) representativa dos estudates na UESPI de Picos. Visa a qualidade do ensino, garantindo acesso a cultura, esporte e lazer através da Meia Entrada. Promovemos o diálogo e a integração estudantil no ambiente acadêmico, por meio de debates e manifestações, sempre respeitando as diferenças sociais, econômicas, e de gênero.   </p>
					</div>
				</div>
			</div>
			<div class="">
         <!-- Title. Don't forget the <span> tag -->
            <h4><span>Histórico</span></h4>
            <!-- para -->
            <p> A mais de 10 anos representando os estudantes  </p>
         </div>			
			<div class="historico container">
				<div class="row">
					<div class="col-md-7">
						<p> DCE 9 de Novembro atua a mais de 10 anos a favor dos estudantes da UESPI - Campus Picos. Na gestão atual atuamos na discussão sobre projetos de extensão a serem implantados além de apontar áreas para investimentos na universidade. Conseguimos recentemente o congelamento da meia passagem após muito diálogo e pressão nas rede sociais.   </p>
					</div>
					<div class="col-md-5">
						<%= image_tag 'historico.jpg', class:'img img-responsive', :alt=>'luta' %>
					</div>
				</div>
			</div>
				
			<!-- Início causas -->
			<div class="bandeiras container">
			<div class="row">
						<div class="">
                     <h4><span>Nossas principais bandeiras são:</span></h4>
						</div>
							<div class="col-md-3 col-sm-6">
							   <div class="afeature">
								  <div class="afmatter">
									 <!-- <i class="fa fa-cloud"></i> -->
									 <h4>Diversidade Sexual e Gênero</h4>
									 <p>A diversidade Sexual e Genero deve ser respeitada em quaisquer situações pois cada pessoa é dona de se mesma.</p>
								  </div>
							   </div>
							</div>
							<div class="col-md-3 col-sm-6">
							   <div class="afeature">
								  <div class="afmatter">
									 <h4>Meia Entrada Cultural</h4>
									 <p>O DCE 9 de Novembro trabalha para que os termos da Lei 12.933 sancioanada em 2013 sejam cumpridos à risca, pois essa é uma luta histórica. </p>
								  </div>
							   </div>                        
							</div>
							<div class="col-md-3 col-sm-6">
							   <div class="afeature">
								  <div class="afmatter">
									 <h4>Meia Passagem</h4>
									 <p>É possível termos um transporte coletivo de qualidade e acessível, por isso não abrimos mão da meia passagem e redução no valor da tarifa. </p>
								  </div>
							   </div>                        
							</div>
							<div class="col-md-3 col-sm-6">
							   <div class="afeature">
								  <div class="afmatter">
									 <h4>Contra a PEC 55</h4>
									 <p>Concideramos um retrocesso as medidas propostas pelo presidente Michel Temer por meio da PEC 55.</p>
								  </div>
							   </div>                        
							</div>                        
			</div>
			</div>
				
				
			<div class="about">
               <div class="row">
                  <div class="col-md-12">
                  
                     <!-- Team hero -->
                     <div class="">
                        <!-- Title. Don't forget the <span> tag -->
                        <h4><span>Membros</span></h4>
                        <!-- para -->
                        <p>O DCE 9 de Novembro tem muito orgulho dos seus membros. São eles que lutam pelos direitos dos estudantes visando uma universidade melhor. </p>
                     </div>
                     <!-- Our team -->
                     
                     <!-- Teams -->
                     
                     <div class="teams">
                        <div class="row">
                           <div class="col-md-3 col-sm-3 col-xs-6">
                              <!-- Staff #1 -->
                              <div class="staff">
                                 <!-- Picture -->
                                 <div class="pic">
                                    <%= image_tag 'presidente.jpg', class:"img img-responsive", alt:'Presidente ddo DCE 9 de Novembro' %>
                                 </div>
                                 <!-- Details -->
                                 <div class="details">
                                    <!-- Name and designation -->
                                    <div class="desig pull-left">
                                       <p class="name">Fábio Rufino</p>
                                       <em>Presidente</em>
                                    </div>
                                    <!-- Social media details. Replace # with profile links -->
                                    <div class="asocial pull-right">
                                       <a href="https://www.facebook.com/rufinofabio"><i class="fa fa-facebook"></i></a>
                                       <a href="#"><i class="fa fa-twitter"></i></a>
                                       <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                    <div class="clearfix"></div>
                                 </div>
                                 <hr />
                              </div>
                           </div>
                           <div class="col-md-3 col-sm-3 col-xs-6">
                           </div>
                           <div class="col-md-3 col-sm-3 col-xs-6">
                           </div>
                           <div class="col-md-3 col-sm-3 col-xs-6">
                           </div>
                        </div>                        
                     </div>
                     
                  </div>
               </div>
            </div>
						
			<div class="container">
			<div class="row">
				<div class="contact">
					<div class="">
							<!-- Title. Don't forget the <span> tag -->
							<h4><span>Onde estamos?</span></h4>
							<!-- para -->
							<p>Faça uma visita ao DCE 9 De Novembro, deixe sua reclamação, sugestão, denúncia... Será um prazer recebê-lo.</p>
					</div>
					<div class="col-md-12">
						<!-- Google maps -->
						<div class="gmap">
							 <!-- Google Maps. Replace the below iframe with your Google Maps embed code -->
							<iframe src="https://her.is/2r1qy7b" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
					   </div>	  
					</div>                                        
				</div>
			</div>
			</div>
			
			<div class="bor"></div>

            <!-- Testimonials -->
            <div class="testimonial">
                <div class="container">
                     <div class="row">
                        <h4><span>Depoimentos</span></h4>
                        <div class="col-md-4 col-sm-4">
                           <!-- Testimonial #1 -->
                           <div class="test">
                              Representa muito bem o movimento estudantil picoense. Estudo na federal e me sinto representada por essa galera massa. Parabéns pela excelente gestão!
                           </div>
                           <div class="test-arrow"></div>
                           <div class="tauth"><i class="fa fa-user"></i> Ana Rafaela <span class="color"></span></div>
                        </div>
                        
                        <div class="col-md-4 col-sm-4">
                           <!-- Testimonial #2 -->
                           <div class="test">
                              Adorei a página, através desta é possível saber sobre os diversos eventos que acontecem na nossa querida Uespi!
                           </div>
                           <div class="test-arrow"></div>
                           <div class="tauth"><i class="fa fa-user"></i> Bruna Gomes<span class="color"></span></div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                           <!-- Testimonial #3 -->
                           <div class="test">
                              Boto fé nesse DCE. Conheço o Fabão e sem dúvidas não teria ninguém melhor pra tomar a frente desta entidade, ótima equipe, QUEM VEM COM TUDO NÃO CANSA!
                           </div>
                           <div class="test-arrow"></div>
                           <div class="tauth"><i class="fa fa-user"></i> Natasha Oliveira<span class="color"></span></div>
                        </div>                        
                     </div>
                  </div>
            </div>